<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="scandit-cordova-datacapture-barcode" version="6.21.3">
    <name>ScanditBarcodeCapture</name>
    <js-module name="Cordova" src="www/js/Cordova/Cordova.js" />
    <js-module name="Defaults" src="www/js/Cordova/Defaults.js" />
    <js-module name="BarcodeCaptureListenerProxy" src="www/js/Cordova/BarcodeCaptureListenerProxy.js" />
    <js-module name="BarcodeTrackingListenerProxy" src="www/js/Cordova/BarcodeTrackingListenerProxy.js" />
    <js-module name="BarcodeSelectionProxy" src="www/js/Cordova/BarcodeSelectionProxy.js" />
    <js-module name="BarcodeSelectionListenerProxy" src="www/js/Cordova/BarcodeSelectionListenerProxy.js" />
    <js-module name="BarcodeTrackingBasicOverlayProxy" src="www/js/Cordova/BarcodeTrackingBasicOverlayProxy.js" />
    <js-module name="BarcodeTrackingAdvancedOverlayProxy" src="www/js/Cordova/BarcodeTrackingAdvancedOverlayProxy.js" />
    <js-module name="BarcodeCapture" src="www/js/BarcodeCapture.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeCapture+Related" src="www/js/BarcodeCapture+Related.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="Barcode" src="www/js/Barcode.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeCaptureSettings" src="www/js/BarcodeCaptureSettings.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeTracking" src="www/js/BarcodeTracking.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeTracking+Related" src="www/js/BarcodeTracking+Related.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeTrackingSettings" src="www/js/BarcodeTrackingSettings.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="TrackedBarcodeView" src="www/js/TrackedBarcodeView.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeSelection" src="www/js/BarcodeSelection.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeSelectionSettings" src="www/js/BarcodeSelectionSettings.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeSelection+Related" src="www/js/BarcodeSelection+Related.js">
        <merges target="Scandit" />
    </js-module>
    <engines>
        <engine name="cordova-ios" version=">=5.0.0" />
        <engine name="cordova-android" version=">=7.0.0" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditBarcodeCapture">
                <param name="ios-package" value="ScanditBarcodeCapture" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/ScanditBarcodeCapture-Bridging-Header.h" type="BridgingHeader" />
        <source-file src="src/ios/ScanditBarcodeCapture.swift" />
        <source-file src="src/ios/BlockingCallbackResults.swift" />
        <source-file src="src/ios/TappableBase64ImageView.swift" />
        <source-file src="src/ios/CommandJSONArgument+ScanditBarcodeCapture.swift" />
        <dependency id="scandit-cordova-datacapture-core" version="6.21.3" />
        <podspec>
            <pods use-frameworks="true">
                <pod name="scandit-datacapture-frameworks-barcode" spec="= 6.21.3" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditBarcodeCapture">
                <param name="android-package" value="com.scandit.datacapture.cordova.barcode.ScanditBarcodeCapture" />
            </feature>
        </config-file>
        <source-file src="src/android/ScanditBarcodeCapture.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode" />
        <source-file src="src/android/factories/BarcodeCaptureActionFactory.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/factories" />
        <source-file src="src/android/actions/ActionInjectDefaults.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBarcodeCapture.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBarcodeTracking.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBasicOverlay.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeAdvancedOverlay.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetBrushForTrackedBarcode.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionClearTrackedBarcodeBrushes.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionClearTrackedBarcodeViews.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetViewForTrackedBarcode.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetOffsetForTrackedBarcode.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetAnchorForTrackedBarcode.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionUnfreezeCameraInBarcodeSelection.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBarcodeSelection.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionGetCountForBarcodeInBarcodeSelectionSession.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeSelection.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeCaptureSession.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeTrackingSession.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeSelectionSession.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFinishBarcodeCaptureSessionUpdate.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFinishBarcodeCaptureDidScan.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFinishBarcodeSelectionDidUpdateSelection.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFinishBarcodeSelectionDidUpdateSession.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFinishBarcodeTrackingDidUpdateSession.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionCreateFindView.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionUpdateFindView.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionUpdateFindMode.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionRegisterBarcodeFindListener.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionUnregisterBarcodeFindListener.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionRegisterBarcodeFindViewListener.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionUnregisterBarcodeFindViewListener.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewOnPause.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewOnResume.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindSetItemList.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewPauseSearching.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewStartSearching.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewStopSearching.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindModePause.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindModeStart.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindModeStop.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewHide.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFindViewShow.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/data/SerializableAdvancedOverlayData.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data" />
        <source-file src="src/android/handlers/BarcodeFindViewHandler.kt" target-dir="kotlin/com/scandit/datacapture/cordova/barcode/handlers" />
        <dependency id="scandit-cordova-datacapture-core" version="6.21.3" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <hook src="src/hooks/support-kotlin.js" type="after_plugin_install" />
    </platform>
</plugin>